
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import "fonts/roboto-fontface/css/roboto/roboto-fontface.css";
// @import "https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.bootstrap-v4.min.css";



// Leftbar width
$leftbar-width: 240px;


// Small Leftbar width
$leftbar-width-sm: 170px;


// Width variables
$width: 100%;


// Height variables
$height: 100%;


//Font variables
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;


//Font Base
$font-size-base: 14px;  