
/*
1. Menu
2. Common
3. Helper
4. Bootstrap Reset
5. Waves Effect
6. Card
7. Buttons
8. Ribbons
9. Popovers and Tooltips
10. Checkbox & Radio
11. Alerts
12. Modal
13. Spinners
14. Widgets
15. Tabs
16. Progress
17. Sweet Alert
18. Charts
19. Email
20. Form Elements
21. Form Advanced
22. Form Validation
23. Form Pickers
24. Form Wizard
25. Summernote
26. Wysiwig
27. Form Uploads
28. Tables
29. Maps
30. Calendar
31. Tickets
32. taskboards
33. Projects
34. Companies
35. File Manager
36. Timeline
37. Profile
38. Print
39. FAQ
40. Pricing
41. Account-Pages
42. Search Results
43. Gallery
44. Coming Soon
45. Responsive
*/

@import "mixins";                           //mixins
@import "variables";                        //variables
@import "colors";                           //colors
@import "typography";                       //typography

/*---------------------------------
-------------- common -------------
---------------------------------*/

@import "common/common";
@import "common/footer";
@import "common/header";
@import "common/menu";
@import "common/left-sidebar-1";
@import "common/left-sidebar-2";
@import "common/content-area";

img[src*=".svg"] {
    width: 100%\9;
    }
/*---------------------------------
-------------- Elements -------------
---------------------------------*/
@import "elements/alerts";
@import "elements/buttons";
@import "elements/calendar";
@import "elements/card";
@import "elements/charts";
@import "elements/checkbox-radio";
@import "elements/email";
@import "elements/form-advanced";
@import "elements/form-elements";
@import "elements/form-pickers";
@import "elements/form-uploads";
@import "elements/form-validation";
@import "elements/form-wizard";
@import "elements/form-custom";
@import "elements/helper";
@import "elements/modal";
@import "elements/popover-tooltips";
@import "elements/pricing";
@import "elements/progress";
@import "elements/ribbons";
@import "elements/spinners";
@import "elements/sweet-alert";
@import "elements/spacing";
@import "elements/tables";
@import "elements/tabs";
@import "elements/tickets";
@import "elements/widgets";




/*---------------------------------
-------------- Pages -------------
---------------------------------*/

@import "pages/workspace";
@import "pages/account-pages";
@import "pages/coming-soon";
@import "pages/companies";
@import "pages/faq";
@import "pages/file-manager";
@import "pages/gallery";
@import "pages/maps";
@import "pages/print";
@import "pages/profile";
@import "pages/projects";
@import "pages/search-results";
@import "pages/summernote";
@import "pages/taskboard";
@import "pages/timeline";
@import "pages/wysiwig";





@import "bootstrap-reset";
@import "responsive";



/*---------------------------------
-------------- Icons -------------
---------------------------------*/


@import "icons/Ionicons/css/ionicons";
@import "icons/font-awesome/scss/font-awesome";
@import "icons/themify-icons/themify-icons";
@import "icons/ddriven/ddriven";


/*---------------------------------
-------------- Icons -------------
---------------------------------*/

@import "plugins/hover";
@import "plugins/daterangepicker";
@import "plugins/kendo-theme-default/scss/grid.scss";
@import "plugins/kendo-theme-default/scss/notification.scss";
@import "plugins/perfect-scrollbar/perfect-scrollbar.scss";
@import "plugins/kendo-theme-default/scss/colorpicker.scss";
@import "plugins/ion-slider/ion-slider.scss";
@import "plugins/ion-slider/ion-slider-theme.scss";


/*

Importing Files From Custom

*/

@import "custom/custom";


.mobileShow {display: none;} 

  /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileShow {display: inline;}
  }


  .mobileHide { display: inline; } 

  /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
     .mobileHide { display: none;}
  }