/* =============
   Common
============= */

body {
  margin: 0;
  // padding-bottom: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
  //color: $light7;
  font-size: $font-size-base;
  background-color: $bg-body;
  font-family: $font-primary;

  @include screen-tablet{
    background-color: $white;
  }
  @include ipad-pro-tablet{
    background-color: $white;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  margin: 10px 0;
}

.disabledEye td {
  color: green !important;
}

h1 {
  line-height: 43px;
  font-size: 36px;
}

h2 {
  line-height: 35px;
  font-size: 30px;
}

h3 {
  font-size: nth($font-size, 18);
  font-weight: 500;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

p {
  line-height: 1.6;
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.container {
  width: auto;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.wrapper {
  padding-top: 60px;
  padding-left: 85px;
  display: flex;

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .builder-section {
    border: 1px solid grey;
  }
  // .controls-section
  // {
  //   width:400px;
  //   box-shadow: 0 2px 4px 0 rgba(52, 90, 126, 0.3);
  //   background: $white;
  // }
}

/* Page titles */
.page-title {
  font-size: nth($font-size, 22);
  font-family: $font-secondary;
  color: $font-blue;
  margin: 0;
}

.header-title {
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}

.page-title-box {
  font-size: nth($font-size, 10);
  color: $font-grey;
  padding: 8px 20px;
  box-shadow: 0 0 4px 0 rgba(52, 90, 126, 0.3);

  .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
  }
}

#page-container.sb-1-open {
  .sb-1 {
    transform: translateX(0px);
    transition: transform 0.5s;
  }
  .sb-2 {
    transform: translateX(-280px);
    transition: transform 0.5s;
    @include screen-laptop {
      transform: translateX(-193px);
    }
  }

  .content-area {
    margin-left: 220px;
    transition: margin-left 0.5s;
    @include screen-laptop {
      margin-left: 152px;
    }
  }
}

#page-container.sb-2-open {
  .sb-1 {
    transform: translateX(-185px);
    transition: transform 0.5s;
    @include screen-laptop {
      transform: translateX(-128px);
    }

    @include screen-tablet {
      transform: translateX(-140px);
    }
    @include ipad-pro-tablet {
      transform: translateX(-140px);
    }
  }
  .sb-2 {
    transform: translateX(-186px);
    transition: transform 0.5s;
    @include screen-laptop {
      transform: translateX(-128px);
    }
  }

  .content-area {
    margin-left: 315px;
    transition: margin-left 0.5s;
    @include screen-laptop {
      margin-left: 217px;
    }
  }
}

#page-container.sb-1-open.sb-2-open {
  .sb-1 {
    transform: translateX(0px);
  }
  .sb-2 {
    transform: translateX(-1px);
  }

  .content-area {
    margin-left: 500px;
    @include screen-laptop {
      margin-left: 345px;
    }
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.required-field::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.tab-sb-1-btn{
  display:none;
}
button.add-signal-btn{
  display: none;
}

@include screen-tablet{

  #page-container.tablet-menu {
    .sb-1 {
      transform: translateX(-140px);
      .sb-1-toggle-btn{
        display: none;
      }
    }
    .sb-2 {
      transform: translateX(-350px);
      .sb-2-toggle-btn{
        display: none;
      }
    }
  
    .content-area {
      margin-left: 0px;
      margin-right: -16px;
    }
  }

  #page-container.tablet-menu.tab-sb-1-open{
    .sb-1 {
      transform: translateX(0px);
      
    }
    .sb-2 {
      transform: translateX(-350px);
      
    }

  }
  #page-container.tablet-menu.tab-sb-2-open{
    .sb-1 {
      transform: translateX(-140px);
      
    }
    .sb-2 {
      transform: translateX(-140px);
      
    }
  }
  

  .white-control-area{
    background:$white;

    padding: 10px 5px 10px 20px;
    margin-top: -12px !important;
    margin-bottom: -10px !important;
    @include screen-mobile{
      display: none;
    }
  }

  .tab-sb-1-btn{
    display: inline-block;
    vertical-align: -2.6px;
    margin-right: 10px;
  }
  button.add-signal-btn{
    display: inline-block;
  }
}
@include ipad-pro-tablet{

  #page-container.tablet-menu {
    .sb-1 {
      transform: translateX(-140px);
      .sb-1-toggle-btn{
        display: none;
      }
    }
    .sb-2 {
      transform: translateX(-350px);
      .sb-2-toggle-btn{
        display: none;
      }
    }
  
    .content-area {
      margin-left: 0px;
      margin-right: -16px;
    }
  }

  #page-container.tablet-menu.tab-sb-1-open{
    .sb-1 {
      transform: translateX(0px);
      
    }
    .sb-2 {
      transform: translateX(-350px);
      
    }

  }
  #page-container.tablet-menu.tab-sb-2-open{
    .sb-1 {
      transform: translateX(-140px);
      
    }
    .sb-2 {
      transform: translateX(-140px);
      
    }
  }
  

  .white-control-area{
    background:$white;

    padding: 10px 5px 10px 20px;
    margin-top: -12px !important;
    margin-bottom: -10px !important;
  }

  .tab-sb-1-btn{
    display: inline-block;
    vertical-align: -2.6px;
    margin-right: 10px;
  }
  button.add-signal-btn{
    display: inline-block;
  }
}

@include screen-mobile{

  #page-container.tablet-menu {
    .sb-1 {
      transform: translateX(-100%);
      .sb-1-toggle-btn{
        display: none;
      }
    }
    .sb-2 {
      transform: translateX(-167%);
      .sb-2-toggle-btn{
        display: none;
      }
    }
  
    .content-area {
      margin-left: 0px;
      margin-right: -16px;
    }
  }

  #page-container.tablet-menu.tab-sb-1-open{
    .sb-1 {
      transform: translateX(0px);
      
    }
    .sb-2 {
      transform: translateX(-167%);
      
    }

  }
  #page-container.tablet-menu.tab-sb-2-open{
    .sb-1 {
      transform: translateX(-100%);
      
    }
    .sb-2 {
      transform: translateX(0px);
      
    }
  }
  

  .white-control-area{
    background:$white;

    padding: 10px 5px 10px 20px;
    margin-top: -12px !important;
    margin-bottom: -10px !important;
    @include screen-mobile{
      display: none;
    }
  }

  .tab-sb-1-btn{
    display: inline-block;
    vertical-align: -2.6px;
    margin-right: 10px;
  }
  button.add-signal-btn{
    display: inline-block;
  }
}
@include screen-tablet{
  .tb-no-mrg-r
  {
    margin-right:0px !important;
  }
  
}

@include ipad-pro-tablet{
  .tb-no-mrg-r
  {
    margin-right:0px !important;
  }
  
}

// *{
//   border:1px solid red;
// }
